* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body {
  font-size: 16px;
}

.stroke-custom {
  path {
    stroke-width: 2px;
    fill: "#2657A4"
  }
}